<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <connectionStrings>
      
    <add name="SqlServerServices" connectionString="Data Source=203.129.217.179;Initial Catalog=DATACAPTURE;User ID=sa;password=Mica$007;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>         
       
     <add name="mysqlConnectionString" connectionString="Driver={MySQL ODBC 3.51 Driver};Server=203.129.217.179;Port=3306;Database=bachpan_erp1920;User=Micaerp;Password=Micaerp123@;Option=3" providerName="System.Data.Odbc" />
   		
	</connectionStrings>
        <system.webServer>
     
        <directoryBrowse enabled="true" />
        <caching>
            <profiles>
                <add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />
            </profiles>
        </caching>
        <rewrite>
           <rules>
    <rule name="Rule" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
    </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>

        <!-- HTTP Errors section should only be enabled if the "Error Pages"
        feature has been delegated as "Read/Write" at the Web Server level.
           <httpErrors>
               <remove statusCode="404" subStatusCode="-1" />
               <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
           </httpErrors>
        -->
		

    </system.webServer>
</configuration>

